# Python
__pycache__/
*.py[cod]
*.pyo
.env
*.egg-info/
dist/
build/
.venv/
venv/

# Pytest
.pytest_cache/
.coverage
htmlcov/

# Alembic
alembic/versions/*.pyc

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db
